/*===========================
	PROFILE

	- GALLERY

dark grey:
rgba(46, 46, 46, 1)
#2e2e2e
hsla(0, 0%, 18%, 1)

dark red:
#cc0000
rgba(204, 0, 0, 1)
hsla(0, 100%, 40%, 1)

white:
#ffffff
rgba(255, 255, 255, 0.8);
===========================*/

/*=================================================================================
	PROFILE GALLERY
=================================================================================*/

.gallery-holder {
	background: rgba(255, 255, 255, 0.8);
	padding: 20px;
	.item {
		float: left;
		height: 200px;
		overflow: hidden;
		text-align: center;
		position: relative;
		width: 47%;
		
		&:nth-child(2n+2) {
			margin: 0 0 0 6%;
		}

		&:nth-child(2n+3) {
			clear:left;
		}

		img {
			left: 50%;
		    max-height: 200px;
		    max-width: 100%;
		    position: absolute;
		    top: 50%;
		    transform: translateX(-50%) translateY(-50%);
		}

		.item-caption {
			background: rgba(255, 255, 255, 0.6);
		    bottom: 200px;
		    padding: 5px;
		    position: absolute;
		    transition: bottom 0.4s ease-in-out 0s;
		    width: 100%;
		}

		&:hover {
			.item-caption {
			    bottom: 0px;
			}
		}
	}
}