// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {

	.panel-heading {


		.panel-title {
			float: left;
		}


		.meta {
			float: right;
			
			a {
				color: white;
			}
		}
	}

	p {
		margin-bottom: 0;
	}

	.admin {
		display: none;
	}

	&:hover {
		.admin {
			display: inline-block;
		}
	}
}

.post-new-status {
	margin-bottom: 20px;
}