// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*===========================
	STATUSES

	- STATUS WALL HEADER + POST
	- STATUS WALL POST LAYOUT
	- STATUS WALL STATUS LAYOUT
	
	- STATUS EDIT

dark grey:
rgba(46, 46, 46, 1)
#2e2e2e
hsla(0, 0%, 18%, 1)

dark red:
#cc0000
rgba(204, 0, 0, 1)
hsla(0, 100%, 40%, 1)

white:
#ffffff
rgba(255, 255, 255, 0.8);
===========================*/

/*=================================================================================
	STATUS WALL HEADER + POST
=================================================================================*/
.status-wall-title {
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	margin-top: 10px;
	
	h1 {
		color: rgba(255, 255, 255, 0.5);
		display: inline-block;
		font-weight: 100;
		margin-bottom: 0;
	}

	textarea {
		background: transparent none repeat scroll 0 0;
		border: medium none;
		color: rgba(255, 255, 255, 0.5);
		float: left;
		font-size: 36px;
		font-weight: 100;
		height: auto;
		padding: 0;
		overflow: hidden;
		resize: none;
		width: 80%;
	}

	.form-actions {
	    float: right;
	    text-align: right;
	    width: 20%;
	    
	    .btn[type="submit"] {
	    	background: image-url("post.png");
			background-size: 100% 100%;
			background-repeat: no-repeat;
		    border: medium none;
		    box-shadow: none;
		    color: #333;
		    height: 55px;
		    opacity: 0.5;
		    width: 55px;
		    transition: opacity 0.3s ease-in-out 0s;
		    
		    &:hover {
		    	opacity: 0.9;
		    }
	    }
	}

	.post-new-status {
		float: right;
		margin-top: 24px;
	}
}


/*=================================================================================
	STATUS WALL POST LAYOUT
=================================================================================*/

#new_status {
	.status_user_id {
		display: none;
	}

	.status_document_add_attachment {
		float: left;
		margin: 0;
		width: 80%;
		
		label {
			display: none;
		}

		input {
			color: rgba(255, 255, 255, 0.5);
			font-weight:300;
			font-size: 16px;
			width: 100%;
		}
	}
}


/*=================================================================================
	STATUS WALL STATUS LAYOUT
=================================================================================*/

.status {
	background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    transition: background 0.3s ease-in-out 0s;

	&:hover {
		background-color: rgba(255, 255, 255, 0.8);
		
		.status-name {
			a {
				color: rgba(46, 46, 46, 0.8);
			}
		}

		p {
			color: rgba(46, 46, 46, 0.8);
		}

		.status-view {
			a {
				color: rgba(46, 46, 46, 0.8);
			}
		}
	}

	&.statusking {
		background: image-url("golden-background.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-color: transparent !important;
	}

	&.kingstatus {
		border: 2px solid #4d4d4d;
	}

	.status-pic {
	    float: left;
	    width: 20%;
	    
	    img {
	    	border-radius: 100%;
	    }
	}

	.status-name {
		float: left;
		width: 80%;
		
		h4 {
			margin: 0;
			> a {
				display: inline-block;
				padding-bottom: 8px;
			}
		}
		
		a {
		    color: rgba(255, 255, 255, 0.5);
		    font-weight: 200;
		    transition: color 0.3s ease-in-out 0s;
		}
	}

	p {
		color: rgba(255, 255, 255, 0.5);
		font-weight: 300;
	    float: left;
	    margin-bottom: 10px;
	    margin-top: 0px;
	    width: 80%;
	    transition: color 0.3s ease-in-out 0s;
	}

	.status-view {
	    clear: left;
	    float: right;
	    
	    a {
	    	color: rgba(46, 46, 46, 0.5);
	    	transition: color 0.3s ease-in-out 0s;
	    }
	}

	// META OPTIONS

	.meta {
	    float: right;
	}

	.admin {
		display: none;
		
		a {
			background: image-url("delete.png");
			background-size: 100% 100%;
			background-repeat: no-repeat;
			cursor: pointer;
		    display: inline-block;
		    height: 25px;
		    width: 25px;
		    transform: scale(1);
		    transition: transform 0.3s ease-in-out 0s;
			    
		    &:hover {
		    	transform: scale(1.1);
		    }
		    
		    &.edit-btn {
		    	background: image-url("edit.png");
				background-size: 100% 100%;
				background-repeat: no-repeat;
		    }
		}
	}

	&:hover {
		.admin {
			display: inline-block;
		}
	}
}


/*=================================================================================
	STATUS EDIT
=================================================================================*/

.status-form {
	textarea {
		background: transparent none repeat scroll 0 0;
		border: medium none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.8);
		color: rgba(255, 255, 255, 0.5);
		float: left;
		font-size: 36px;
		font-weight: 100;
		height: auto;
		margin-bottom: 10px;
		padding: 0;
		padding-bottom: 10px;
		overflow: hidden;
		resize: none;
		width: 100%;
	}

	.form-actions {
	    float: right;
	    
	    .btn[type="submit"] {
	    	background: image-url("post.png");
			background-size: 100% 100%;
			background-repeat: no-repeat;
		    border: medium none;
		    box-shadow: none;
		    color: #333;
		    cursor: pointer;
		    height: 55px;
		    opacity: 0.5;
		    width: 55px;
		    transition: opacity 0.3s ease-in-out 0s;
		    
		    &:hover {
		    	opacity: 0.9;
		    }
	    }
	}


}

.form-links {
	margin-top: -35px;
	
	&.m-no {
		margin-top: 0;
	}

	a {
        background: transparent;
        border:none;
        border: 1px solid transparent;
        border-radius: 0;
        box-shadow: none;
        color: rgba(255, 255, 255, 0.5);
        padding: 5px 0;
        margin-left: 10px;
        text-decoration: none;
        text-shadow: none;
        
        &:hover, &:focus, &:active{
            background: transparent;
            border-bottom: 1px solid rgba(255, 255, 255, 0.8);
            color: rgba(255, 255, 255, 0.8);
            outline: none;
        }

        &:first-child {
        	margin-left: 0;
        }
    }
}




/*=================================================================================
	STATUS SHOW
=================================================================================*/

.show-page {
	h1 {
		margin-bottom: 20px;
	}

	.status {
		background-color: rgba(255, 255, 255, 0.8);
		
		.status-name {
			a {
				color: rgba(46, 46, 46, 0.8);
			}
		}

		p {
			color: rgba(46, 46, 46, 0.8);
		}

		.status-view {
			a {
				color: rgba(46, 46, 46, 0.8);
			}
		}

		.admin {
			display: inline-block;
		}
	}
}